### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm

## Directory-based project format:
.idea/

### Vagrant template
.vagrant/

**/node_modules/
**/vendor
**/bower_components/

logs/*
!.gitkeep
tmp
.DS_Store
