<h2 id = "{{anchor}}">{{title}}
    <small><span class = "glyphicon glyphicon-plus positive" ng-click="addExtraItem()"></span></small>
</h2>

<div class = "panel panel-primary" ng-repeat = "extra in extras">
    <div class = "panel-heading clearfix">
        <div class = "pull-right">
            <a ng-click = "delete(extra.id)"><span class = "glyphicon glyphicon-remove negative"></span></a>

            <div class = "clearfix"></div>
        </div>
    </div>
    <div class = "panel-body">
        <div class = "form-group">
            <label for = "extraId" class = "col-sm-2 control-label">#id</label>

            <div class = "col-sm-10">
                <label ng-bind = "extra.id" class = "form-control-static" id = "extraId"></label>
            </div>
        </div>
        <div class = "form-group">
            <label for = "extraName" class = "col-sm-2 control-label">Name</label>

            <div class = "col-sm-10">
                <input type = "text"
                       class = "form-control"
                       id = "extraName"
                       placeholder = "Name"
                       ng-model = "extra.name">
            </div>
        </div>
        <gcb-form-date label = "Updated" val = "extra.last_update"></gcb-form-date>
        <div class = "form-group">
            <label for = "extraType" class = "col-sm-2 control-label">Type</label>

            <div class = "col-sm-10">
                <select class = "form-control" id = "extraType" ng-model = "extra.type">
                    <option value = ""></option>
                    <option value = "manual">Manual</option>
                    <option value = "game">Game</option>
                    <option value = "guide">Guide</option>
                    <option value = "map">Map</option>
                </select>
            </div>
        </div>
        <div class = "form-group">
            <label for = "extraGroup" class = "col-sm-2 control-label">Group</label>

            <div class = "col-sm-10">
                <select class = "form-control" id = "extraGroup" ng-model = "extra.group">
                    <option value = ""></option>
                    <option value = "versions">Versions</option>
                    <option value = "cheats">Cheats</option>
                    <option value = "trivia">Trivia</option>
                </select>
            </div>
        </div>
        <div class = "form-group">
            <label for = "extraNotes" class = "col-sm-2 control-label">Notes</label>

            <div class = "col-sm-10">
                                <textarea class = "form-control"
                                          id = "extraNotes"
                                          placeholder = "Notes"
                                          ng-model = "extra.notes"></textarea>
            </div>
        </div>
        <div class = "form-group">
            <label class = "col-sm-2 control-label">Files</label>

            <div class = "col-sm-10">
                <p ng-repeat = "file in extra.files" class = "form-control-static"><a href = "">{{file.name}}</a>
                    ({{file.ext}},{{file.size}})<a ng-click = "deleteFile(extra.id,file.id)"><span class = "glyphicon negative glyphicon-remove"></span></a>
                </p>
            </div>
        </div>
    </div>
</div>