<h2 id = "{{anchor}}">{{title}}
    <small><span class = "glyphicon glyphicon-plus positive"
                 ng-click = "uploadVisibility = !uploadVisibility"></span></small>
</h2>

<gcb-file-uploader ng-show = "uploadVisibility"
                   upload-to = "{{url}}/media"
                   on-file-success = "onMediaUpload(file, message, flow)"></gcb-file-uploader>
<div class = "table-responsive">
    <table class = "table table-striped">
        <tr>
            <th>#</th>
            <th>Filename</th>
            <th><label for = "file-description">Description</label></th>
            <th>Ext</th>
            <th>Size</th>
            <th><label for = "file-group">Group</label></th>
            <th></th>
        </tr>
        <tr ng-repeat = "file in mediaFiles">
            <td>
                <span ng-bind = "file.id"></span>
            </td>
            <td>
                <span ng-bind = "file.name"></span>
            </td>
            <td>
                <input id = "file-description"
                       class = "form-control input-sm" type = "text" ng-model = "file.meta.description">
            </td>
            <td>
                <span ng-bind = "file.ext"></span>
            </td>
            <td>
                <span ng-bind = "file.size | bytes"></span>
            </td>
            <td>
                <select id = "file-group" class = "form-control input-sm" ng-model = "file.meta.group">
                    <option value = "media">Media</option>
                    <option value = "artwork">Artwork</option>
                </select>

            </td>
            <td>
                <span>
                    <a ng-click = "delete(file.id)"><span class = "glyphicon negative glyphicon-remove"></span></a>
                </span>
            </td>
        </tr>
    </table>
</div>