<div flow-init flow-object="uploaderCtrl.$flow">
    <div flow-drag-enter = "hoverClass='gcb-file-hover'"
         flow-drag-leave = "hoverClass=''"
         flow-file-success="onFileUpload( {file: $file, message: $message, flow: uploaderCtrl.$flow })"
         ng-class = "hoverClass"
         flow-drop
         class = "well my-drop-zone">

        <span class = "btn btn-default" flow-btn>Upload File</span> <span>OR drop files here</span>
    </div>
    <div ng-show="uploaderCtrl.$flow.files.length > 0">
        <p>
            <a class = "btn btn-small btn-success"
               ng-click="uploaderCtrl.$flow.resume()"><span class="glyphicon glyphicon-upload"></span><span
                    class="hidden-xs">Upload</span></a>
            <a class = "btn btn-small btn-danger"
               ng-click="uploaderCtrl.$flow.pause()"><span class="glyphicon glyphicon-pause"></span><span
                    class="hidden-xs">Pause</span></a>
            <a class = "btn btn-small btn-info"
               ng-click="uploaderCtrl.$flow.cancel()"><span class="glyphicon glyphicon-remove"></span><span
                    class="hidden-xs">Cancel</span></a>
            <span class="label label-info">Size: {{uploaderCtrl.$flow.getSize() | bytes}}</span> <span
                class="label label-info">Is Uploading: {{uploaderCtrl.$flow.isUploading()}}</span>
        </p>

        <div class = "table-responsive">
            <table class = "table table-striped " flow-transfers>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Size</th>
                    <th>Progress</th>
                    <th>Status</th>
                    <th>Settings</th>
                </tr>
                <tr ng-repeat="file in uploaderCtrl.$flow.files">
                    <td>{{$index+1}}</td>
                    <td class = "td-name-wrap">{{file.name}}</td>
                    <td>{{file.size | bytes}}</td>
                    <td>{{file.progress()}}</td>
                    <td>{{uploaderCtrl.getFileStatus(file)}}</td>
                    <td>
                        <div class = "btn-group btn-group-xs">
                            <a class = "btn btn-warning"
                               ng-click = "file.pause()"
                               ng-hide = "file.paused"
                               tooltip = "Pause">
                                <span class = "glyphicon glyphicon-pause"></span><span class = "hidden-xs">Pause</span>
                            </a> <a class = "btn btn-warning"
                                    ng-click = "file.resume()"
                                    ng-show = "file.paused"
                                    tooltip = "Resume">
                            <span class = "glyphicon glyphicon-play"></span><span class = "hidden-xs">Resume</span> </a>
                            <a class = "btn btn-danger" ng-click = "file.cancel()" tooltip = "Cancel">
                                <span class = "glyphicon glyphicon-remove"></span><span class = "hidden-xs">Cancel</span>
                            </a> <a class = "btn btn-info"
                                    ng-click = "file.retry()"
                                    ng-if = "file.error"
                                    tooltip = "Retry">
                            <span class = "glyphicon glyphicon-repeat"></span><span class = "hidden-xs">Retry</span>
                        </a>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>