.metacritic {
    font-size: 15px;
    font-weight: bold;
}

.positive {
    color: #66cc33;
}

.neutral {
    color: #ffcc33;
}

.negative {
    color: #ff0000;
}

.panel-heading span.negative {
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

.rating {
    text-align: center;
    padding-top: 10px;
}

.left-menu-label {
    text-align: right;
}

.details-menu {
    padding-top: 20px;
}

.cover {
    text-align: center;
}

.game-main-form {
    padding: 30px 15px;
}

.game-thumbnail {
    min-width: 120px;
    width: 100%;
    height: auto;
    cursor: pointer;
}

.media-container, .artwork-container {
    -moz-column-count: 3;
    -moz-column-width: 120px;
    -webkit-column-count: 3;
    -webkit-column-width: 120px;
    column-count: 3;
    column-width: 120px;
}

.media-element, .artwork-element {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    display: inline-flex;
}

.text-field {
    text-align: justify;
}

.gcb-img-modal {
    margin: auto;
}

.gcb-game-edit-form {
    padding-top: 60px;
}

.nav-stacked {
    position: fixed;
}

.bootstrap-tagsinput {
    width: 100%;
}

.tt-menu {
    width: 422px;
    margin: 12px 0;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
}

.tt-suggestion:hover {
    cursor: pointer;
    color: #fff;
    background-color: #0097cf;
}

.tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #0097cf;

}

.tt-suggestion p {
    margin: 0;
}

.my-drop-zone {
    border: dotted 3px lightgray;
}

.nv-file-over {
    border: dotted 3px red;
}

/* Default class applied to drop zones on over */

#sidebar li {
    width: 228px;
}

#sidebar li.active {
    border: 0 #eee solid;
    border-right-width: 5px;
}

.gcb-file-hover {
    border: 3px solid green;
}
