<div class = "row gcb-game-edit-form" ng-controller = "GameEditCtrl as game">
    <div class = "col-md-3 hidden-sm hidden-xs" id = "leftCol">

        <ul class = "nav nav-stacked" id = "sidebar">
            <li><a href = "#general">General Game Info</a></li>
            <li><a href = "#media">Media FIles</a></li>
            <li><a href = "#credits">Credits</a></li>
            <li><a href = "#extra">Extra Information</a></li>
        </ul>
    </div>
    <div class = "col-md-9 col-xs-12">
        <form>
            <div class = "form-horizontal">
                <h2 id = "general">General Game Info</h2>

                <div class = "form-group">
                    <label for = "title" class = "col-sm-2 control-label">Game Title</label>

                    <div class = "col-sm-10">
                        <input type = "text"
                               class = "form-control"
                               id = "title"
                               placeholder = "Game Title"
                               ng-model = "game.data.title">
                    </div>
                </div>

                <div class = "form-group">
                    <label for = "subtitle" class = "col-sm-2 control-label">Game Subtitle</label>

                    <div class = "col-sm-10">
                        <input type = "text"
                               class = "form-control"
                               id = "subtitle"
                               placeholder = "Game Subtitle"
                               ng-model = "game.data.subtitle">
                    </div>
                </div>
                <div class = "form-group">
                    <label for = "description" class = "col-sm-2 control-label">Description</label>

                    <div class = "col-sm-10">
                                        <textarea id = "description"
                                                  placeholder = "Description"
                                                  class = "form-control"
                                                  ng-bind = "game.data.description"></textarea>
                    </div>
                </div>
                <div class = "form-group">
                    <label for = "howto" class = "col-sm-2 control-label">How to run</label>

                    <div class = "col-sm-10">
                                        <textarea id = "howto"
                                                  placeholder = "How to run"
                                                  class = "form-control"
                                                  ng-bind = "game.data.howto"></textarea>
                    </div>
                </div>
                <div class = "form-group">
                    <label for = "notes" class = "col-sm-2 control-label">Notes</label>

                    <div class = "col-sm-10">
                                        <textarea id = "notes"
                                                  placeholder = "Notes"
                                                  class = "form-control"
                                                  ng-bind = "game.data.notes"></textarea>
                    </div>
                </div>
                <div class = "form-group">
                    <label for = "platform" class = "col-sm-2 control-label">Platform</label>

                    <div class = "col-sm-10">
                        <gcb-tags id = "platform"
                                  model = "game.data.platforms"
                                  prefetch-url = "/platforms"
                                  item-value = "id"
                                  item-text = "name"
                                  display-key = "name"></gcb-tags>
                    </div>
                </div>
                <div class = "form-group">
                    <label for = "publishers" class = "col-sm-2 control-label">Publishers</label>

                    <div class = "col-sm-10">
                        <gcb-tags id = "publishers"
                                  model = "game.data.publishers"
                                  prefetch-url = "/companies"
                                  item-value = "id"
                                  item-text = "name"
                                  display-key = "name"></gcb-tags>
                    </div>
                </div>
                <div class = "form-group">
                    <label for = "developers" class = "col-sm-2 control-label">Developer</label>

                    <div class = "col-sm-10">
                        <select class = "form-control" id = "developers"></select>
                    </div>
                </div>

                <gcb-form-date label = "Release Date" val = "game.data.released"></gcb-form-date>
                <div class = "form-group">
                    <label for = "gameplay" class = "col-sm-2 control-label">Gameplay</label>

                    <div class = "col-sm-10">
                        <select class = "form-control" id = "gameplay"></select>
                    </div>
                </div>
                <div class = "form-group">
                    <label for = "pacing" class = "col-sm-2 control-label">Pacing</label>

                    <div class = "col-sm-10">
                        <select class = "form-control" id = "pacing"></select>
                    </div>
                </div>
                <div class = "form-group">
                    <label for = "presentation" class = "col-sm-2 control-label">Presentation</label>

                    <div class = "col-sm-10">
                        <select class = "form-control" id = "presentation"></select>
                    </div>
                </div>
                <div class = "form-group">
                    <label for = "interface" class = "col-sm-2 control-label">Interface Control</label>

                    <div class = "col-sm-10">
                        <select class = "form-control" id = "interface"></select>
                    </div>
                </div>
                <div class = "form-group">
                    <label for = "metascore" class = "col-sm-2 control-label">Metascore</label>

                    <div class = "col-sm-10">
                        <input type = "text" class = "form-control" id = "metascore" ng-model = "game.data.metascore">
                    </div>
                </div>
                <div class = "form-group">
                    <label for = "score" class = "col-sm-2 control-label">Metascore</label>

                    <div class = "col-sm-10">
                        <input type = "text" class = "form-control" id = "score" ng-model = "game.data.score">
                    </div>
                </div>
                <div class = "form-group">
                    <label for = "rating" class = "col-sm-2 control-label">Rating</label>

                    <div class = "col-sm-10">
                        <select class = "form-control" id = "rating"></select>
                    </div>
                </div>
                <h2 id = "media">Media Files
                    <small><span class = "glyphicon glyphicon-plus positive"
                                 ng-click = "game.addMedia = !game.addMedia"></span></small>
                </h2>

                <div ng-show = "game.addMedia"
                     flow-init = "{target: 'http://app.gacobom.com/games/1/media', testChunks:false}">
                    <div flow-drag-enter = "style={border:'3px solid green'}"
                         flow-drag-leave = "style={}"
                         flow-file-success = "game.onFileUpload( $file, $message, $flow )"
                         ng-style = "style"
                         flow-drop
                         class = "well my-drop-zone">

                        <span class = "btn btn-default" flow-btn>Upload File</span> <span>OR drop files here</span>
                    </div>
                    <div ng-show = "$flow.files.length > 0">
                        <p>

                            <a class = "btn btn-small btn-success"
                               ng-click = "$flow.resume()"><span class = "glyphicon glyphicon-upload"></span><span class = "hidden-xs">Upload</span></a>
                            <a class = "btn btn-small btn-danger"
                               ng-click = "$flow.pause()"><span class = "glyphicon glyphicon-pause"></span><span class = "hidden-xs">Pause</span></a>
                            <a class = "btn btn-small btn-info"
                               ng-click = "$flow.cancel()"><span class = "glyphicon glyphicon-remove"></span><span class = "hidden-xs">Cancel</span></a>
                            <span class = "label label-info">Size: {{$flow.getSize() | bytes}}</span>
                            <span class = "label label-info">Is Uploading: {{$flow.isUploading()}}</span>
                        </p>

                        <div class = "table-responsive">
                            <table class = "table table-striped " flow-transfers>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Size</th>
                                    <th>Progress</th>
                                    <th>Status</th>
                                    <th>Settings</th>
                                </tr>
                                <tr ng-repeat = "file in $flow.files">
                                    <td>{{$index+1}}</td>
                                    <td class = "td-name-wrap">{{file.name}}</td>
                                    <td>{{file.size | bytes}}</td>
                                    <td>{{file.progress()}}</td>
                                    <td>{{game.getFileStatus(file)}}</td>
                                    <td>
                                        <div class = "btn-group btn-group-xs">
                                            <a class = "btn btn-warning"
                                               ng-click = "file.pause()"
                                               ng-hide = "file.paused"
                                               tooltip = "Pause"> <span class = "glyphicon glyphicon-pause"></span><span
                                                    class = "hidden-xs">Pause</span> </a> <a class = "btn btn-warning"
                                                                                             ng-click = "file.resume()"
                                                                                             ng-show = "file.paused"
                                                                                             tooltip = "Resume"> <span
                                                class = "glyphicon glyphicon-play"></span><span class = "hidden-xs">Resume</span>
                                        </a> <a class = "btn btn-danger" ng-click = "file.cancel()" tooltip = "Cancel">
                                            <span class = "glyphicon glyphicon-remove"></span><span class = "hidden-xs">Cancel</span>
                                        </a> <a class = "btn btn-info"
                                                ng-click = "file.retry()"
                                                ng-if = "file.error"
                                                tooltip = "Retry">
                                            <span class = "glyphicon glyphicon-repeat"></span><span class = "hidden-xs">Retry</span>
                                        </a>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <gcb-media-manager media-files = "game.mediaFiles"></gcb-media-manager>
                <h2 id = "credits">Credits
                    <small><span class = "glyphicon glyphicon-plus positive"></span></small>
                </h2>
                <gcb-credits-manager credits = "game.data.credits"></gcb-credits-manager>
                <h2 id = "extra">Extra Information
                    <small><span class = "glyphicon glyphicon-plus positive"></span></small>
                </h2>
                <gcb-extra-content-manager extras = "game.extras"></gcb-extra-content-manager>
            </div>

        </form>

    </div>

</div>