<div class = "row gcb-game-edit-form" ng-controller = "GameEditCtrl as game">
    <gcb-sidenav class = "col-md-3 hidden-sm hidden-xs" options = "game.options"></gcb-sidenav>
    <div class = "col-md-9 col-xs-12">
        <form>
            <div class = "form-horizontal">
                <h2 id = "general">General Game Info</h2>

                <div class = "form-group">
                    <label for = "title" class = "col-sm-2 control-label">Game Title</label>

                    <div class = "col-sm-10">
                        <input type = "text"
                               class = "form-control"
                               id = "title"
                               placeholder = "Game Title"
                               ng-model = "game.data.title">
                    </div>
                </div>

                <div class = "form-group">
                    <label for = "subtitle" class = "col-sm-2 control-label">Game Subtitle</label>

                    <div class = "col-sm-10">
                        <input type = "text"
                               class = "form-control"
                               id = "subtitle"
                               placeholder = "Game Subtitle"
                               ng-model = "game.data.subtitle">
                    </div>
                </div>
                <div class = "form-group">
                    <label for = "description" class = "col-sm-2 control-label">Description</label>

                    <div class = "col-sm-10">
                                        <textarea id = "description"
                                                  placeholder = "Description"
                                                  class = "form-control"
                                                  ng-bind = "game.data.description"></textarea>
                    </div>
                </div>
                <div class = "form-group">
                    <label for = "howto" class = "col-sm-2 control-label">How to run</label>

                    <div class = "col-sm-10">
                                        <textarea id = "howto"
                                                  placeholder = "How to run"
                                                  class = "form-control"
                                                  ng-bind = "game.data.howto"></textarea>
                    </div>
                </div>
                <div class = "form-group">
                    <label for = "notes" class = "col-sm-2 control-label">Notes</label>

                    <div class = "col-sm-10">
                                        <textarea id = "notes"
                                                  placeholder = "Notes"
                                                  class = "form-control"
                                                  ng-bind = "game.data.notes"></textarea>
                    </div>
                </div>
                <div class = "form-group">
                    <label for = "platform" class = "col-sm-2 control-label">Platform</label>

                    <div class = "col-sm-10">
                        <gcb-tags id = "platform"
                                  model = "game.data.platforms"
                                  prefetch-url = "/platforms"
                                  item-value = "id"
                                  item-text = "name"
                                  display-key = "name"></gcb-tags>
                    </div>
                </div>
                <div class = "form-group">
                    <label for = "publishers" class = "col-sm-2 control-label">Publishers</label>

                    <div class = "col-sm-10">
                        <gcb-tags id = "publishers"
                                  model = "game.data.publishers"
                                  prefetch-url = "/companies"
                                  item-value = "id"
                                  item-text = "name"
                                  display-key = "name"></gcb-tags>
                    </div>
                </div>
                <div class = "form-group">
                    <label for = "developers" class = "col-sm-2 control-label">Developer</label>

                    <div class = "col-sm-10">
                        <select class = "form-control" id = "developers"></select>
                    </div>
                </div>

                <gcb-form-date label = "Release Date" val = "game.data.released"></gcb-form-date>
                <div class = "form-group">
                    <label for = "gameplay" class = "col-sm-2 control-label">Gameplay</label>

                    <div class = "col-sm-10">
                        <select class = "form-control" id = "gameplay"></select>
                    </div>
                </div>
                <div class = "form-group">
                    <label for = "pacing" class = "col-sm-2 control-label">Pacing</label>

                    <div class = "col-sm-10">
                        <select class = "form-control" id = "pacing"></select>
                    </div>
                </div>
                <div class = "form-group">
                    <label for = "presentation" class = "col-sm-2 control-label">Presentation</label>

                    <div class = "col-sm-10">
                        <select class = "form-control" id = "presentation"></select>
                    </div>
                </div>
                <div class = "form-group">
                    <label for = "interface" class = "col-sm-2 control-label">Interface Control</label>

                    <div class = "col-sm-10">
                        <select class = "form-control" id = "interface"></select>
                    </div>
                </div>
                <div class = "form-group">
                    <label for = "metascore" class = "col-sm-2 control-label">Metascore</label>

                    <div class = "col-sm-10">
                        <input type = "text" class = "form-control" id = "metascore" ng-model = "game.data.metascore">
                    </div>
                </div>
                <div class = "form-group">
                    <label for = "score" class = "col-sm-2 control-label">Metascore</label>

                    <div class = "col-sm-10">
                        <input type = "text" class = "form-control" id = "score" ng-model = "game.data.score">
                    </div>
                </div>
                <div class = "form-group">
                    <label for = "rating" class = "col-sm-2 control-label">Rating</label>

                    <div class = "col-sm-10">
                        <select class = "form-control" id = "rating"></select>
                    </div>
                </div>

                <h2 id = "media">Media Files
                    <small><span class = "glyphicon glyphicon-plus positive"
                                 ng-click = "game.uploadVisibility = !game.uploadVisibility"></span></small>
                </h2>
                <gcb-media-manager media-files = "game.mediaFiles"
                                   url = "{{game.url}}"
                                   upload-visibility = "game.uploadVisibility"></gcb-media-manager>

                <h2 id = "credits">Credits
                    <small><span class = "glyphicon glyphicon-plus positive"></span></small>
                </h2>
                <gcb-credits-manager credits = "game.data.credits"></gcb-credits-manager>

                <h2 id = "extra">Extra Information
                    <small><span class = "glyphicon glyphicon-plus positive"></span></small>
                </h2>
                <gcb-extra-content-manager extras = "game.extras" url = "{{game.url}}"></gcb-extra-content-manager>
            </div>
        </form>
    </div>
</div>