<div class = "game-main-form" ng-controller = "GameCtrl as game">
    <div class = "page-header">
        <h1>{{game.data.title}}
            <small>{{game.data.subtitle}}</small>
        </h1>
    </div>
    <div class = "row">
        <div class = "col-xs-12 col-sm-4 well">
            <gcb-cover url = "{{game.url}}"></gcb-cover>
            <div class = "rating">
                <rating ng-model = "game.data.score" max = "10"></rating>
            </div>

            <div class = "row details-menu panel panel-primary">
                <gcb-info-repeat label = "Publisher" val = "game.data.publishers"></gcb-info-repeat>
                <gcb-info-repeat label = "Released" val = "game.data.developers"></gcb-info-repeat>
                <gcb-info label = "Released" val = "game.data.released"></gcb-info>
                <gcb-info label = "Genre" val = "game.data.genre.name"></gcb-info>
                <gcb-info label = "Series" val = "game.data.series.name"></gcb-info>
                <gcb-info-check label = "Manual" val = "game.data.manual"></gcb-info-check>
                <gcb-metascore metascore = "game.data.metascore"></gcb-metascore>
                <gcb-info label = "Rating" val = "game.data.rating.name"></gcb-info>
            </div>
            <div class = "row panel panel-primary">
                <div class = "panel-heading">
                    <h3 class = "panel-title">User data</h3>
                </div>
                <gcb-info-check label = "Played" val = "game.data.played"></gcb-info-check>
            </div>
            <div class = "row">
                <gcb-credits credits = "game.data.credits"></gcb-credits>
            </div>
        </div>

        <div class = "col-xs-12 col-sm-7 well col-sm-offset-1">
            <a class = "btn btn-default"
               ng-href = "/games/{{game.data.id}}/edit"
               role = "button"><span class = "glyphicon glyphicon-pencil"></span></a>

            <div class = "row tab_container">
                <div>
                    <h3>Description</h3>

                    <div class = "text-field" ng-bind-html = "game.data.description"></div>
                </div>
                <div ng-if = "game.data.howto">
                    <h3>How to run</h3>

                    <div class = "text-field" ng-bind-html = "game.data.howto"></div>
                </div>
                <div ng-if = "game.data.notes">
                    <h3>Notes</h3>

                    <div class = "text-field" ng-bind-html = "game.data.notes"></div>
                </div>
            </div>
            <tabset class = "tablist" type = "pills">
                <tab heading = "Media">
                    <gcb-media items = "game.data.media"></gcb-media>
                </tab>
                <tab heading = "Artwork">
                    <gcb-media items = "game.data.artwork"></gcb-media>
                </tab>
                <tab heading = "Game">
                    <gcb-extra-content extras = "game.data.versions" url = "{{game.url}}"></gcb-extra-content>
                </tab>
                <tab heading = "Addons">
                    <gcb-extra-content extras = "game.data.addons" url = "{{game.url}}"></gcb-extra-content>
                </tab>
                <tab heading = "Trivia">
                    <gcb-extra-content extras = "game.data.trivia" url = "{{game.url}}"></gcb-extra-content>
                </tab>
                <tab heading = "Guides">
                    <gcb-extra-content extras = "game.data.cheats" url = "{{game.url}}"></gcb-extra-content>
                </tab>
                <tab heading = "Links">
                    <gcb-links links = "game.data.links"></gcb-links>
                </tab>
            </tabset>
        </div>
    </div>
</div>